.correct-item {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	position: relative;
	border-radius: 5px;
	-webkit-transform: translateY(0);
	transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.correct-item:after {
	content: "";
	border-radius: 25px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 1);
	opacity: 0;
	transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.correct-item:hover:after {
	opacity: 10
}

.correct-item:hover {
	transform: scale(1.25, 1.25)
}

.blue_gradient_background {background-image: linear-gradient(to right,#0072d2,#00b6c3);}

.services_gradient_background: linear-gradient(90deg, #1f005c, #00287b, #004491, #005ea0, #0077a8, #008fac, #00a6ae, #57bdb1);

.bgcolor1 {background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);}
.bgcolor2 {background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);}
.bgcolor3 {background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);}
.bgcolor4 {background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);}
.bgcolor5 {background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);}
.bgcolor6 {background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);}
.bgcolor7 {background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);}
.bgcolor8 {background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);}
.bgcolor9 {background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);}
.bgcolor10 {background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);}
.bgcolor11 {background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);}
.bgcolor12 {background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);}
.bgcolor13 {background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);}
.bgcolor14 {background-image: linear-gradient(to top, #09203f 0%, #537895 100%);}
.bgcolor15 {background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);}
.bgcolor16 {background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);}
.bgcolor17 {background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);}
.bgcolor18 {background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);}
.bgcolor19 {background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);}
.bgcolor20 {background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);}
.bgcolor21 {background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);}
.bgcolor22 {background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);}
.bgcolor23 {background-image: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, gba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);}
.bgcolor24 {background-image: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);}
.bgcolor25 {background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);}

.bgcolor26 {background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);}

.bgcolor27 {background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);}
.bgcolor28 {background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);}
.bgcolor29 {background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);}
.bgcolor30 {background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);}

.bgcolor31 {background-image: linear-gradient(-45deg, #0982a7,hsla(218, 100%, 26%, 1));}

.bgcolor32 {background-image: linear-gradient(to right, #00b4db, #0083b0);}
.bgcolor33 {background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);}

.bevelBox
{
    width: 325px;
    height: 50px;    
    background: #666666;    
    border: 1px solid #000000;        
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}


.cmp-stat--large--red {
    background: linear-gradient(140deg, #fc1255, #d41d24);
}

.cmp-stat--large--pink {
    background: linear-gradient(140deg, #fc1255, #b537ed);
}

.cmp-stat--large--purple {
    background: linear-gradient(140deg, #b537ed, #0057b8);
}























